[submodule "tagging/IDT"]
	path = tagging/IDT
	url = https://github.com/jimregan/IrishDependencyTreebank.git
	branch = my-changes
[submodule "citizens-information-raw"]
	path = citizens-information-raw
	url = https://github.com/jimregan/citizens-information-raw.git
	branch = master
[submodule "ainm-ner"]
	path = ainm-ner
	url = https://github.com/jimregan/ainm-ner-corpus.git
